$backGround: #FFFCFF;
$shadow: gray;
$textColor: black;
$headerColor: #d36c6c;
$buttonColor: #92a1d1;
$dayTitleColor: #247BA0;
$dayColor: white;
$dayShadow: #CBD4C2;
$dayHover: #e8faed;
$currentDay: #e8f4fa;
$modalColor: #e8f4fa;
$errorColor: red;
$negButton: #d36c6c;
$posButton: #92a1d1;
$borderColor: grey;

// Define day heights
$dayHeightDesktop: 15vh;
$dayHeightMobile: 10vh;

$buttonWidthDesktop: 70px;
$buttonWidthMobile: 10%;

$radius: 5px;

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: Vazirmatn, sans-serif;
  display: flex;
  margin-top: auto;
  justify-content: center;
  background-color: $backGround;
  padding: 0 10px;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 2px $shadow;
  border: 1px solid $borderColor;

  #search {
    border-radius: 40% 0 0 0;
  }

  #overView {
    border-radius: 0 40% 0 0;
  }

  outline: none;
  padding: 5px;
  border-radius: $radius;
  color: $textColor;
}

input::placeholder {
  text-align: right;
}

#header {
  padding: 10px;
  color: $headerColor;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#header button {
  background-color: $buttonColor;
}

#container {
  width: 770px;
  max-width: 100%;
}

/* Weekdays: keep all elements in one line */
#weekdays {
  width: 100%;
  display: flex;
  color: $dayTitleColor;
  flex-wrap: nowrap;
}

#weekdays div {
  justify-content: center;
  flex: 1;
  padding: 10px;
  text-align: center;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.day {
  width: calc(100% / 7 - 10px);
  padding: 10px;
  height: $dayHeightDesktop;
  cursor: pointer;
  box-sizing: border-box;
  background-color: $dayColor;
  margin: 5px;
  box-shadow: 0px 0px 3px $dayShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: $dayHover;
}

.day.currentDay {
  background-color: $currentDay;
}

.event {
  color: $textColor;
  border-radius: $radius;
  overflow: hidden;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: calc($dayHeightDesktop/6);
  justify-content: center;
}

.event div {
  flex: 1 1 40%;
}

.Ivana1,
.Ivana2,
.Ivana3,
.Ivana4,
.negar,
.sarv {
  border: 1px solid $borderColor;
  box-shadow: 0px 0px 2px $shadow;
}

.Ivana1 {
  background-color: #FFF9C4;
}

.Ivana2 {
  background-color: #BBDEFB;
}

.Ivana3 {
  background-color: #D3A16D;
}

.Ivana4 {
  background-color: #FFE0B2;
}

.sarv {
  background-color: #C8E6C9;
}

.negar {
  background-color: #FFCDD2;
}

.padding {
  cursor: default !important;
  box-shadow: none !important;
  border: none !important;
}

.Modal {
  z-index: 20;
  padding: 25px;
  background-color: $modalColor;
  box-shadow: 0px 0px 3px black;
  border-radius: $radius;
  width: 30%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.eventInput {
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  margin: 10px 5px;
  border-radius: $radius;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px $shadow;
}

.miniInput {
  width: 15%;
}

#nameInput {
  display: flex;
  flex-wrap: wrap;
}

#nameInput input {
  flex: 1 2 30%;
}

#timeInput {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  flex-wrap: wrap;
}

#timeInput input {
  flex: 1 1 10%;
}

#numberInput {
  display: flex;
}

#numberInput input {
  flex: 1 1 10%;
}

#budgetInput {
  display: flex;
}

#budgetInput input {
  width: 7%;
  flex: 1 1 10%;
  margin-bottom: 20px;
}

#overViewModal {
  display: flex;
  flex-wrap: wrap;
}

#overViewModal button {
  flex: 1 1 34%;
  margin: 0;
  margin-top: 10px;

}

#overViewModal button:nth-child(odd) {
  border-radius: 20px 0 0 20px;
}

#overViewModal button:nth-child(even) {
  border-radius: 0 20px 20px 0;
}

#overViewModal button:last-child {
  border-radius: 20px;
}

.error {
  border: 2px solid $errorColor;
}

#cancelButton,
#deleteButton {
  background-color: $negButton;
}

#saveButton,
#closeButton {
  background-color: $posButton;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#SObutton button {
  margin: 0;
  padding: 0;
}

#search {
  border-radius: $radius 0 0 $radius;
}

#overView {
  border-radius: 0 $radius $radius 0;
}

.buttonSVG {
  height: 16px;
}

/* Entering: start collapsed */
.result-enter {
  max-height: 0;
  opacity: 0;
}

.result {
  display: flex;
  flex-wrap: wrap;
}

/* Entering: transition to full height and opacity */
.result-enter-active {
  max-height: 100px;
  /* Adjust based on your content */
  opacity: 1;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

/* Exiting: start at full height */
.result-exit {
  max-height: 100px;
  opacity: 1;
}

/* Exiting: transition to collapsed */
.result-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

/* Optional styling for the result items */
.result-item {
  width: 100%;
  flex: l 1 100%;
  overflow: hidden;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
}

#query {
  display: flex
}

#query>* {
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
}

#query .eventInput {
  margin-left: 5px;
}


#query #cancelButton {
  margin-right: 0;
}

/* Desktop Responsive Styles */
@media (min-width: 1300px) {
  .buttonGroup {
    position: absolute;
    width: calc((100vw - 790px) / 2) !important;
    text-align: center;
    top: 27vh;
    left: 0;
  }

  .buttonGroup #apButton button {
    position: relative;
    left: calc(50% - 100px);
    display: block;
    width: 200px !important;
    max-width: calc((100vw - 790px) / 2) !important;
  }

  .buttonGroup div button {
    margin: 10px;
    width: 100px;
  }

  #SObutton button:first-child {
    margin-left: 22px;
  }

  #SObutton button:last-child {
    margin-left: 0;
  }
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #container {
    width: 100%;
  }

  #weekdays div {
    padding: 5px;
    font-size: 0.52em;
  }

  .day {
    width: calc(100% / 7 - 6px);
    height: $dayHeightMobile;
    margin: 3px;
    padding: 5px;
  }

  .event {
    min-height: calc($dayHeightMobile/6);
    justify-content: right;
  }

  .Modal {
    width: 76%;
    left: 5%;
    top: 50px;
    transform: none;
  }

  .buttonGroup {
    margin-top: 10px;
  }

  #SObutton {
    margin: 10px;
    right: calc(50% - $buttonWidthDesktop/2);
  }

  #SObutton button {
    width: calc($buttonWidthDesktop/2);
  }

  #timeInput {
    font-size: 8px;
  }
}
