$backGround: #FFFCFF;
$shadow: gray;
$textColor: white;
$headerColor: #d36c6c;
$buttonColor: #92a1d1;
$dayTitleColor: #247BA0;
$dayColor: white;
$dayShadow: #CBD4C2;
$dayHover: #e8faed;
$currentDay: #e8f4fa;
$modalColor: #e8f4fa;
$errorColor: red;
$negButton: #d36c6c;
$posButton: #92a1d1;

body {
  font-family: Vazirmatn, sans-serif;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: $backGround;
}

button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px $shadow;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: $textColor;
}

#header {
  padding: 10px;
  color: $headerColor;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: $buttonColor;
}

#container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: $dayTitleColor;
}

#weekdays div {
  width: 100px;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: $dayColor;
  margin: 5px;
  box-shadow: 0px 0px 3px $dayShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: $dayHover;
}

.day+.currentDay {
  background-color: $currentDay;
}

.mofateh,
.bazarche,
.event {
  font-size: 10px;
  padding: 3px;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.mofateh {
  background-color: yellow;
}

.bazarche {
  background-color: red;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#fuzzyModal,
#overViewModal,
#newEventModal,
#deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: $modalColor;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px $shadow;
}

#eventTitleInput.error {
  border: 2px solid $errorColor;
}

#cancelButton,
#deleteButton {
  background-color: $negButton;
}

#saveButton,
#closeButton {
  background-color: $posButton;
}

#eventText {
  font-size: 14px;
}

#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
